<section class="landing">

  <!-- Décorations -->
  <div class="decor decor-dots"></div>
  <div class="decor decor-square"></div>

  <!-- Navbar -->
  <nav class="landing-nav">

    <div class="logo">
 <span>
         <a href="/" class="active">
        R
      </a>
      </span>      <strong>Rama Dev</strong>
    </div>

  <!--  <div class="nav-links">

      <a href="#home" class="active">
        Accueil
      </a>

      <a href="/home">
        À propos
      </a>

      <a href="/project">
        Projets
      </a>

     

    </div> -->

    <div class="nav-right">
      <button class="language active">FR</button>
      <span>/</span>
      <button class="language">EN</button>

       <a
      href="assets/images/CV_2026-08-18_Rama_Seck.pdf"
      target="_blank"
      download="CV_Rama_Seck"
      class="cv-btn"
    >
      Télécharger mon CV
    </a>
    </div>

  </nav>


  <!-- Contenu principal -->
  <main class="landing-content">

    <!-- Texte -->
    <div class="intro">

      <p class="hello">
        Bonjour, je suis
      </p>

      <h1>
        Rama <span>Seck.</span>
      </h1>

      <h2>
        Développeuse Full Stack
        <br>
        <strong>& Mobile</strong>
      </h2>

      <p class="description">
        Je conçois des applications web et mobiles modernes,
        intuitives et adaptées aux besoins des utilisateurs.
      </p>

      <div class="buttons">

        <a
          routerLink="/home"
          class="primary-btn"
        >
          Qui suis-je ?
          <span>→</span>
        </a>

        <a
          routerLink="/project"
          fragment="portfolio"
          class="secondary-btn"
        >
          Voir mes projets
        </a>

      </div>

      <div class="availability">
        <span></span>
        Disponible pour de nouvelles opportunités
      </div>

    </div>


    <!-- Illustration / identité -->
    <div class="visual">

      <div class="visual-bg"></div>

      <div class="floating-card card-one">
        <span>Web</span>
        <strong>Angular</strong>
        <strong>React js</strong>
      </div>

      <div class="floating-card card-two">
        <span>Mobile</span>
        <strong>React Native</strong>
      </div>

      <div class="code-card">

        <div class="code-header">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <div class="code-content">
          <p>
            <span class="purple">const</span>
            developer =
          </p>

          <p class="indent">
            <span class="pink">"Rama"</span>;
          </p>

          <p>
            <span class="purple">const</span>
            passion =
          </p>

          <p class="indent">
            <span class="pink">"digital"</span>;
          </p>

          <p class="indent">
            <span class="blue">"innovation"</span>;
          </p>

        </div>

      </div>

      <div class="profile-circle">
        <div class="profile-placeholder">
                 <img src="../../../assets/images/rama.jpeg" alt="HTML" class="logo w-24">

        </div>
      </div>

    </div>

  </main>


  <!-- Scroll -->
  <!-- <div class="scroll-indicator">
    <span></span>
    <p>Scroll pour découvrir</p>
  </div> -->

</section>